footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--lightpink);
}

.container-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
}

.container-footer section {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.book-footer {
	font-size: 3.2rem;
	background: transparent;
	transition: all 300ms;
	padding: 1rem 0 0 0;
}

.book-footer span {
	color: var(--pink);
	transition: all 300ms ease-in-out;
}

.book-footer span:hover {
	color: var(--darkgray);
}

.book-footer:hover {
	color: var(--pink);
	width: 100%;
	margin: auto 0;
}

.logo-footer {
	width: 13rem;
	height: auto;
	margin-bottom: 2rem;
	margin-right: 8rem;
}

.leonorBcontainerFooter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 4rem 4rem 2rem 4rem;
	padding: 0;
	line-height: 6rem;
}

.HOnlineContainerFooter {
	margin-bottom: 2rem;
	line-height: 2.5rem;
}

.leonorBFooter {
	font-family: "Breathing";
	font-weight: 100;
	font-size: 5rem;
	color: var(--darkgray);
}

.onlineHomeopathFooter {
	background-color: transparent;
	color: var(--pink);
	text-transform: uppercase;
	margin: 0;
	font-family: "Glacial Indifference";
	letter-spacing: 4px;
	font-size: 2.2rem;
}

.RRSS-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: fit-content;
	border-radius: 20px;
	padding: 2rem;
	transition: all 400ms;
	margin-bottom: 2rem;
}

.icons-container {
	display: flex;
	gap: 2rem;
}

.icon-f {
	transition: all 300ms;
	filter: grayscale(70%) brightness(1.7);
	padding: 0;
	margin: 0;
	width: 70px;
	border-radius: 20px;
}

.icon-i {
	transition: all 300ms;
	filter: grayscale(70%) brightness(1.7);
	padding: -5px;
	margin: 0;
	width: 70px;
}

.icon-f:hover,
.icon-i:hover {
	transform: scale(1.1);
	filter: grayscale(0);
	cursor: pointer;
}

.developedBy {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: black;
	padding: 0 20rem;
}

.developedBy a {
	font-size: 20px;
	color: var(--orange);
	transition: all 300ms;
	letter-spacing: 1px;
}

.developedBy > a:nth-child(2) {
	margin-right: 8rem;
}

.developedBy a:hover {
	color: white;
	font-weight: bold;
	transform: scale(1.03);
}

/*---------------------------------------------------------------------------------------------*/

/* Estilos para Pantallas Grandes */
@media (min-width: 1001px) and (max-width: 2000px) {
	footer {
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	.container-footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		width: 100%;
	}

	.book-footer {
		padding: 0.5rem 0 0 0;
		font-size: 2rem;
	}

	.logo-footer {
		margin: 0 0 0.5rem 0;
		width: 9rem;
		height: auto;
	}

	.container-footer section {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
	}

	.leonorBcontainerFooter {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0rem 0 0 0;
		line-height: 4rem;
		margin: 4rem 4rem 1rem 4rem;
	}

	.HOnlineContainerFooter {
		line-height: 2rem;
		margin-bottom: 2rem;
	}

	.leonorBFooter {
		font-family: "Breathing";
		font-weight: 100;
		padding-left: 3rem;
		color: var(--darkgray);
		font-size: 3rem;
	}

	.onlineHomeopathFooter {
		background-color: transparent;
		color: var(--pink);
		text-transform: uppercase;
		padding-left: 4rem;
		margin: 0;
		font-family: "Glacial Indifference";
		letter-spacing: 3px;
		font-size: 1.5rem;
	}

	.RRSS-container {
		padding: 1.5rem;
		/* max-height: 10rem; */
		border-radius: 10px;
		margin-bottom: 1rem;
	}

	.icons-container {
		display: flex;
		gap: 1rem;
	}

	.icon-i {
		width: 40px;
	}
	.icon-f {
		width: 40px;
		border-radius: 15px;
	}

	.developedBy {
		padding: 0 7rem;
	}

	.developedBy p {
		font-size: 12px;
	}

	.developedBy a {
		font-size: 12px;
	}

	.developedBy > a:nth-child(2) {
		margin-right: 5rem;
	}
}

/*---------------------------------------------------------------------------------------------*/

/* Estilos para Pantallas Medianas */
@media (min-width: 601px) and (max-width: 1000px) {
	footer {
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	.container-footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		width: 100%;
	}

	.book-footer {
		padding: 0.5rem 0 0 0;
		font-size: 1.8rem;
	}

	.logo-footer {
		margin: 0 0 0.5rem 0;
		width: 7rem;
		height: auto;
	}

	.container-footer section {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
	}

	.leonorContainerFooter {
		margin-left: 1rem;
	}

	.leonorBcontainerFooter {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin: 4rem 0rem 1rem 0;
		padding: 0rem 0 0 0;
		line-height: 4rem;
	}

	.HOnlineContainerFooter {
		margin-bottom: 2rem;
		line-height: 1.8rem;
	}

	.leonorBFooter {
		font-family: "Breathing";
		font-weight: 100;
		padding-left: 3rem;
		color: var(--darkgray);
		font-size: 3rem;
	}

	.onlineHomeopathFooter {
		font-size: 1.5rem;
		background-color: transparent;
		color: var(--pink);
		text-transform: uppercase;
		padding-left: 4rem;
		margin: 0;
		font-family: "Glacial Indifference";
		letter-spacing: 3px;
	}

	.RRSS-container {
		padding: 1.5rem;
		border-radius: 10px;
		margin-bottom: 1rem;
	}

	.icons-container {
		display: flex;
		gap: 1rem;
	}

	.icon-i {
		width: 35px;
	}
	.icon-f {
		width: 35px;
		border-radius: 10px;
	}

	.developedBy {
		padding: 0 2rem;
	}

	.developedBy p {
		font-size: 12px;
	}

	.developedBy a {
		font-size: 12px;
	}

	.developedBy > a:nth-child(2) {
		margin-right: 5rem;
	}
}

/*---------------------------------------------------------------------------------------------*/

/* Estilos para Móviles */
@media (max-width: 600px) {
	footer {
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	.container-footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		width: 100%;
	}

	.book-footer {
		padding: 0.5rem 0 0 0;
		font-size: 1.8rem;
	}

	.container-footer section {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.logo-footer {
		display: none;
	}

	.leonorContainerFooter {
		margin-left: 1rem;
	}

	.leonorBcontainerFooter {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin: 4rem 0rem 1rem 0;
		padding: 0rem 0 0 0;
		line-height: 3.5rem;
	}

	.HOnlineContainerFooter {
		line-height: 1.7rem;
		margin-bottom: 2rem;
	}

	.leonorBFooter {
		font-family: "Breathing";
		font-weight: 100;
		padding-left: 0rem;
		color: var(--darkgray);
		font-size: 2.9rem;
	}

	.onlineHomeopathFooter {
		background-color: transparent;
		color: var(--pink);
		text-transform: uppercase;
		padding-left: 0rem;
		margin: 0;
		font-family: "Glacial Indifference";
		letter-spacing: 2px;
		font-size: 1.3rem;
	}

	.RRSS-container {
		padding: 0.5rem;
		border-radius: 10px;
		margin: 0;
	}

	.icons-container {
		gap: 1rem;
	}

	.icon-i {
		width: 35px;
	}

	.icon-f {
		width: 35px;
		border-radius: 10px;
	}

	.developedBy {
		padding: 0.2rem 1rem;
		justify-content: space-between;
	}

	.developedBy a {
		font-size: 8px;
	}

	.developedBy > a:nth-child(2) {
		margin-right: 0rem;
	}
}
