@font-face {
	font-family: 'Breathing';
	src: url('../app/fonts/Breathing.ttf') format('truetype');
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 80%;
   margin: 0 auto;
   padding: 1rem 0;
}

.logo {
   max-height: 100%;
   height: auto;
   width: 13rem;
   margin: 0;
}



.leonorBcontainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   line-height: 8rem;
   margin: 4rem 4rem 2rem 4rem;
   padding: 0rem 0 0 0;
 }

 .HOnlineContainer {
   line-height: 3rem;
   margin-bottom: 2rem;
 }

.leonorB {
   font-family: 'Breathing';
   font-weight: 100;
   font-size: 5rem;
   padding-left: 23rem;
   color: var(--darkgray);
}

.onlineHomeopath {
   font-size: 2.5rem;
   background-color: transparent;
   color: var(--pink);
   text-transform: uppercase;
   padding-left: 24rem;
   margin: 0;
   font-family: 'Glacial Indifference';
   letter-spacing: 4px;
}

.search {
   width: auto;
}

.bookHeader {
   font-size: 2.6rem;
   transition: all 400ms;
   background-color: var(--pink);
   padding: 1rem 0;
}

.bookHeader:hover {
	color: var(--lightgray);
   background-color: var(--darkgray);
}

.bookHeader span {
	padding: 0 .9rem;
	color: var(--lightgray);
   transition: all 300ms;
}

.bookHeader span:hover {
	color: var(--pink);

}


/* ---------------------------------------------------------------------------------------------------*/


/* Estilos para Pantallas Grandes */
@media (max-width:2000px) and (min-width:1001px) {

   header {
      display: flex;
      justify-content: space-between;
      width: 80%;
   }

   .logo {
      width: 9rem;
   }

   .leonorBcontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 4.5rem;
      margin: 4rem 4rem 1.5rem 4rem;
      padding: 0rem 0 0 0;
    }
   
    .HOnlineContainer {
      line-height: 2.4rem;
      margin-bottom: 2rem;
    }
   
   .leonorB {
      font-family: 'Breathing';
      font-weight: 100;
      font-size: 3.5rem;
      padding-left: 14rem;
      color: var(--darkgray);
   }
   
   .onlineHomeopath {
      font-size: 2rem;
      background-color: transparent;
      color: var(--pink);
      text-transform: uppercase;
      padding-left: 15rem;
      margin: 0;
      font-family: 'Glacial Indifference';
      letter-spacing: 4px;
   }

   .bookHeader {
      font-size: 2rem;
      transition: all 400ms;
      background-color: var(--pink);
   }
}


/* ---------------------------------------------------------------------------------------------------*/


/* Estilos para Pantallas Medianas */
@media (max-width:1000px) and (min-width:601px) {

   header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      padding: 0 2rem;
      width: 100%;
   }

   .logo {
      display: none;
   }

   .leonorContainer {
      margin-left: 1rem;
   }

   .leonorBcontainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      line-height: 4.5rem;
      margin: 4rem 0rem 1rem 0;
      padding: 0rem 0 0 0;
    }
   
    .HOnlineContainer {
      line-height: 2.4rem;
      margin-bottom: 2rem;
    }
   
   .leonorB {
      font-family: 'Breathing';
      font-weight: 100;
      font-size: 3.2rem;
      padding-left: 0rem;
      color: var(--darkgray);
   }
   
   .onlineHomeopath {
      font-size: 1.5rem;
      background-color: transparent;
      color: var(--pink);
      text-transform: uppercase;
      padding-left: 1rem;
      margin: 0;
      font-family: 'Glacial Indifference';
      letter-spacing: 4px;
   }

   .search {
      width: auto;
   }

   .bookHeader {
      font-size: 1.8rem;
      transition: all 400ms;
      background-color: var(--pink);
   }
}


/* ---------------------------------------------------------------------------------------------------*/


/* Estilos para Móviles */
@media (max-width:600px) {

   header {
      display: flex;
      justify-content: space-around;
      gap: 0;
      align-items: center;
      padding: .5rem 1rem .5rem 0;
      width: 100%;
   }

   .logo {
      width: 6rem;
   }

   .leonorContainer {
      display: none;
   }

   .search {
      width: auto;
   }

   .bookHeader {
      font-size: 1.6rem;
      transition: all 400ms;
      background-color: var(--pink);
   }

}




/* header {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 15rem;
   align-items: center;
   padding: 2rem 0;
   width: 80%;
   margin: 0 auto;
}

.logo {
   grid-column: 1/2;
   max-height: 100%;
   height: auto;
   width: auto;
   margin-right: 45%;
}

.lonorBcontainer {
   grid-column: 2/3;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   line-height: 5rem;
   margin-top: 4rem;
 }

.leonorB {
   font-family: 'Tangerine';
   font-size: 12rem;
   margin: 0;
   padding: 0;
}

.onlineHomeopath {
   background-color: transparent;
   color: var(--darkgray);
   font-weight: 300;
   padding: 0;
   margin: 0;
}

.search {
   grid-column: 3/4;
   justify-self: center;
   margin-right: 17rem;
} */
