/* Estilos para pantallas XXXL */
@media (min-width:2001px) {

	.menu {
		position: relative;
		width: 80%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	nav ul li a {
		font-size: 2.5rem;
	}

	nav ul li span {
		font-size: 2.5rem;
	}

	.dropdownButton {
		font-size: 2.2rem !important;
	}

	.dropdown li a {
		font-size: 2.5rem !important;
	}

	.uk-flag {
		height: 35px;
		width: 50;
		border-radius: 5px;
	}

	.esp-flag {
		height: 35px;
		width: 50;
		border-radius: 5px;
	}
}



/*------------------------------------------------------------------------------------------------*/

/* Estilos para Pantallas Grandes */


nav {
	display: flex;
	justify-content: center;
	padding: 1rem 0;
	/* border-top: solid 1px var(--darkgray); */
	border-bottom: solid 1px var(--darkgray);
	position: relative;
}

.menu {
	position: relative;
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hideMenu {
	display: flex;
	width: 80%;
}

nav ul li {
	display: flex;
	justify-content: center;
	font-size: 1.7rem;
	width: fit-content;
	padding: 0;
}

nav ul li a {
	margin: 0;
	padding: 0;
	color: var(--darkgray);
	transition: all 300ms;
}

nav ul li a:hover {
	margin: 0;
	padding: 0;
	font-weight: 500;
	color: var(--pink)
}

nav ul li span {
	margin: 0;
	padding: 0;
	color: var(--darkgray);
	transition: all 300ms;
}

nav ul li span:hover {
	padding: 0;
	font-weight: 500;
	color: var(--pink);
	cursor: pointer;
}

.onlineHomeo {
	display: none;
}

.burger {
	font-size: 4rem;
	color: var(--darkgray);
	display: none;
}

.dropdownButton {
	color: var(--darkgray);
	display: block;
	margin: auto 0;
	margin-right: 0.8rem;
	transition: all 300ms ease-in-out;
	font-size: 1.8rem;
}

.dropdownButton:hover {
	color: var(--pink);
	cursor: pointer;
	padding: 0;
	border-radius: 5px;
}

.dropdown {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: var(--beige);
	border-radius: 20px;
	transition: all 500ms ease-in-out !important;
	z-index: 9999 !important;
}

.dropdown:hover {
	background-color: var(--lightpink);
	box-shadow: 0 0 5px var(--pink);
}

.dropdown li {
	width: 100%;
}

.dropdown li a {
	color: var(--darkgray);
	text-shadow: none !important;
	font-size: 1.7rem;
}

.dropdown li a:hover {
	color: white;
	text-shadow: 0 0 5px black !important;
}

.dropdown-visible {
	max-height: 20rem;
	transition: all 3s ease-in-out;
	overflow: hidden;
	padding: 1rem;
	gap: 1rem;
	position: absolute;
	z-index: 1;
	top: 100%;
}

.dropdown-hidden {
	max-height: 0 !important;
	overflow: hidden;
	transition: all 3s ease-in-out;
	position: absolute;
	z-index: 1;
	top: 100%;
}




/*------------------------------------------------------------------------------*/


/* Estilos para Moviles */
@media (max-width: 1000px) {
	nav {
		padding: 0rem;
		position: relative;
		display: flex;
		justify-content: flex-start;
		padding: 0 3rem;
	}

	nav ul li {
		font-size: 1.8rem;
	}

	.dropdown li a {
		font-size: 1.8rem;
	}

	.dropdown-visible {
		position: relative;
	}

	.dropdown-hidden {
		position: relative;
	}

	.overlay {
		box-shadow: 0 0 0 100vmax rgb(0,0,0,.6);
		border: none;
	}

	.mobileNav {
		padding: .6rem 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	}

	.onlineHomeo {
		font-size: 1.8rem;
		display: block;
		color: var(--darkgray);
		font-family: "raleway";
		font-weight: 500;
	}

	.burger {
		font-size: 3.4rem;
		display: block;
		cursor: pointer;
	}

	.showMenu {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		opacity: 1;
		transition: all 300ms ease-in-out;
		position: absolute;
		top: 100%;
		left: 6%;
	}

	.hideMenu {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		opacity: 0;
		transition: all 300ms ease-in-out;
		position: absolute;
		top: 150%;
		left: 6%;
	}

	.menu {
		gap: 1rem !important;
		background: var(--lightpink);
		border-radius: 10px;
		box-shadow: 0 0 5px var(--pink);
		padding: 0.5rem 1.5rem;
		width: 85%;
		z-index: 1000;
	}

	.menu li {
		display: flex;
		justify-content: flex-start;
		width: 100%;
	}
}
