.container-gallery {
    width: 100%;
    height: 100%;
    padding: 7rem 0;
}

.container-gallery-empty {
    width: 70%;
    margin: 0 auto;
}

.container-gallery h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.img-g {
    width: 100%;
    border-radius: 10px;
}


/* -------------------------------------------------------------------------------------- */
/* Estilos Pantallas Grandes */

@media (max-width:2000px) and (min-width:1001px) {

    .container-gallery {
        width: 100%;
        height: 100%;
        padding: 5rem 0;
    }
    
    .container-gallery h1 {
        text-align: center;
        margin-bottom: 2rem;
    }
}


/* -------------------------------------------------------------------------------------- */
/* Estilos Pantallas Medianas */

@media (max-width:1000px) and (min-width:601px) {

    .container-gallery {
        width: 100%;
        height: 100%;
        padding: 3rem 0 5rem 0;
    }

    .container-gallery-empty {
        width: 95%;
        margin: 0 auto;
    }
    
    .container-gallery h1 {
        text-align: center;
        margin-bottom: 2rem;
    }
}


/* -------------------------------------------------------------------------------------- */
/* Estilos Pantallas Moviles */

@media (max-width:600px) {

    .container-gallery {
        width: 100%;
        height: 100%;
        padding: 2rem 0 5rem 0;
    }

    .container-gallery-empty {
        width: 95%;
        margin: 0 auto;
    }
    
    .container-gallery h1 {
        text-align: center;
        margin-bottom: 1rem;
    }

}