
nav ul {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: 1rem;
	border: solid 1px gray;
	width: 80%;
    margin: 0 auto;
}

nav ul li {
	font-size: 2rem;
	border-right: solid 1px gray;
	border-left: solid 1px gray;
    /* padding: 0 3rem; */
    width: 100%;
    justify-self: center;

}

nav ul li a {
    margin: 0 auto;
    color: var(--pink);
}
.brrand {
	display: none;
}

.burger {
	font-size: 4rem;
	color: var(--pink);
	display: none;
}

.dropdown {
	display: none;
}
