.faq-container {
	width: 80%;
	margin: 0 auto;
	padding: 7rem 0;
}

.faq-container > section {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.faq-container > p {
	margin-bottom: 3rem;
}

.faq-container > h2 {
	margin: 3rem 0 2rem 0;
	text-align: left;
}

/* ------------------------------------------------------------------------------------------ */
/* Estilos Pantallas Grandes */

@media (max-width: 2000px) and (min-width: 1001px) {
	.faq-container {
		padding: 5rem 0;
	}
}

/* ------------------------------------------------------------------------------------------ */
/* Estilos Pantallas Medianas */

@media (max-width: 1000px) and (min-width: 601px) {
	.faq-container {
		width: 100%;
		padding: 3rem;
	}

	.faq-container p {
		margin-bottom: 2rem;
	}
}
/* ------------------------------------------------------------------------------------------ */
/* Estilos Pantallas Moviles */

@media (max-width: 600px) {
	.faq-container {
		width: 100%;
		padding: 2rem;
	}

	.faq-container p {
		margin-bottom: 2rem;
	}
}
